<div class="flex flex-col items-center justify-center w-full px-6 py-4 gap-5">
  <div class="flex items-center">
    <h1 class="text-4xl font-bold text-red-500">
      ShadCN UI Components with Angular
    </h1>
  </div>

  <div class="w-full flex flex-col items-start gap-5">
    <h1 class="text-2xl font-bold">All Button Variants</h1>
    <div class="flex flex-wrap items-center gap-5">
      <ui-button variant="default">Default</ui-button>
      <ui-button variant="destructive">Destructive</ui-button>
      <ui-button variant="outline">Outline</ui-button>
      <ui-button variant="secondary">Secondary</ui-button>
      <ui-button variant="ghost">Ghost</ui-button>
      <ui-button variant="link">Link</ui-button>

      <ui-button size="sm">Small</ui-button>
      <ui-button size="default">Default</ui-button>
      <ui-button size="lg">Large</ui-button>
      <ui-button size="icon">
        <ng-icon name="heroUsers" class="text-white"></ng-icon>
      </ui-button>
    </div>
  </div>

  <div class="w-full flex flex-col items-start gap-5">
    <h1 class="text-2xl font-bold">All Card Examples</h1>
    <div class="grid grid-cols-3 gap-5">
      <ui-card class="w-full max-w-md h-fit">
        <ui-card-header>
          <ui-card-title>Sign Up</ui-card-title>
          <ui-card-description>Fill in your details</ui-card-description>
        </ui-card-header>
        <ui-card-content>
          <form class="space-y-2">
            <div>
              <label class="block text-sm font-medium">Email</label>
              <ui-input />
            </div>
            <div>
              <label class="block text-sm font-medium">Password</label>
              <ui-input type="password" />
            </div>
          </form>
        </ui-card-content>
        <ui-card-footer class="pt-2">
          <ui-button>Submit</ui-button>
        </ui-card-footer>
      </ui-card>

      <ui-card class="w-full max-w-md h-fit">
        <ui-card-header>
          <ui-card-title>Payment</ui-card-title>
          <ui-card-description>Enter payment details</ui-card-description>
        </ui-card-header>
        <ui-card-content>
          <div class="space-y-2">
            <div>
              <label class="block text-sm font-medium">Card Number</label>
              <ui-input type="text" />
            </div>
            <div class="flex space-x-2">
              <div class="w-1/2">
                <label class="block text-sm font-medium">Expiry Date</label>
                <ui-input type="text" />
              </div>
              <div class="w-1/2">
                <label class="block text-sm font-medium">CVV</label>
                <ui-input type="text" />
              </div>
            </div>
          </div>
        </ui-card-content>
        <ui-card-footer class="pt-2">
          <ui-button>Pay Now</ui-button>
        </ui-card-footer>
      </ui-card>

      <ui-card class="w-full max-w-md h-fit flex flex-col">
        <ui-card-header>
          <ui-card-title>Chat</ui-card-title>
        </ui-card-header>
        <ui-card-content class="flex-1 overflow-y-auto space-y-5">
          <div class="flex items-start space-x-1">
            <div class="bg-gray-200 px-4 py-2 rounded-t-full rounded-br-full">
              Hello! How can I help you today?
            </div>
          </div>
          <div class="flex items-start space-x-1 justify-end">
            <div
              class="bg-primary text-white px-4 py-2 rounded-t-full rounded-br-full"
            >
              I need some help with my account.
            </div>
          </div>
          <div class="flex items-start space-x-1">
            <div class="bg-gray-200 px-4 py-2 rounded-t-full rounded-bl-full">
              Sure! Please provide more details.
            </div>
          </div>
          <div class="flex items-start space-x-1 justify-end">
            <div
              class="bg-primary text-white px-4 py-2 rounded-t-full rounded-br-full"
            >
              I can&apos;t log in.
            </div>
          </div>
          <div class="flex items-start space-x-1">
            <div class="bg-gray-200 px-4 py-2 rounded-t-full rounded-bl-full">
              Let me check your account.
            </div>
          </div>
        </ui-card-content>
        <ui-card-footer class="flex items-center w-full gap-5">
          <ui-input
            type="text"
            placeholder="Type your message..."
            class="w-full"
          />
          <ui-button>Send</ui-button>
        </ui-card-footer>
      </ui-card>
    </div>
  </div>

  <div class="w-full flex flex-col items-start gap-5">
    <h1 class="text-2xl font-bold">All Button Variants</h1>
    <div class="flex flex-wrap items-center gap-5">
      <ui-input placeholder="Enter text" />
      <ui-input type="email" placeholder="Enter your email" />
      <ui-input type="password" placeholder="Enter your password" />
      <ui-input [disabled]="true" placeholder="Disabled input" />
    </div>
  </div>

  <div class="w-full flex flex-col items-start gap-5">
    <h1 class="text-2xl font-bold">All Badge Variants</h1>
    <div class="flex flex-wrap items-center gap-5">
      <ui-badge>Default Badge</ui-badge>
      <ui-badge variant="secondary">Secondary Badge</ui-badge>
      <ui-badge variant="destructive">Destructive Badge</ui-badge>
      <ui-badge variant="outline">Outline Badge</ui-badge>
    </div>
  </div>

  <div class="w-full flex flex-col items-start gap-5">
    <h1 class="text-2xl font-bold">All Avatar Examples</h1>
    <div class="flex flex-wrap items-center gap-5">
      <ui-avatar className="border-2 border-gray-300">
        <ui-avatar-image [src]="imageSrc"></ui-avatar-image>
        <ui-avatar-fallback text="A"></ui-avatar-fallback>
      </ui-avatar>
      <ui-avatar>
        <ui-avatar-fallback text="B"></ui-avatar-fallback>
      </ui-avatar>
    </div>
  </div>
</div>
<router-outlet />
